In [2]:
import pandas as pd

In [3]:
# Read datasets

df = pd.DataFrame()

for i in range(1980, 2025):
    filename = f"daily_aqi_by_cbsa_{i}.csv"
    tmp = pd.read_csv(f"data/{filename}", low_memory=False)
    df = pd.concat([df, tmp], axis=0)

In [4]:
df.head()

,CBSA,CBSA Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
0,"Akron, OH",10420,1980-01-01,25,Good,NO2,39-153-0018,1
1,"Akron, OH",10420,1980-01-02,43,Good,CO,39-153-0018,1
2,"Akron, OH",10420,1980-01-03,38,Good,NO2,39-153-0018,1
3,"Akron, OH",10420,1980-01-04,31,Good,CO,39-153-0018,2
4,"Akron, OH",10420,1980-01-05,38,Good,NO2,39-153-0018,2

In [ ]:
# filter datasets by State and County
philly_df = df[df["CBSA"].str.contains("Philadelphia")]
philly_df.head()

,CBSA,CBSA Code,Date,AQI,Category,Defining Parameter,Defining Site,Number of Sites Reporting
52174,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,1980-01-01,120,Unhealthy for Sensitive Groups,CO,34-005-1001,19
52175,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,1980-01-02,65,Moderate,CO,34-005-1001,18
52176,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,1980-01-03,66,Moderate,CO,34-005-1001,19
52177,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,1980-01-04,68,Moderate,NO2,42-101-0027,20
52178,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,1980-01-05,53,Moderate,NO2,34-007-0003,21

In [9]:
# write the merged dataset to a file
philly_df.to_csv("philly_csba.csv")